<div class="container">
  <h1 class="title-plot-index">Recently booked</h1>

  <div class="plot-grid row no-gutters mb-5">
    <div class="plot-card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="plot-card-background-image" style="background-image:  url('https://images.unsplash.com/photo-1534710961216-75c88202f43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');">
      </div>
      <p><i class="fas fa-map-pin"></i> Spitalfields City Farm</p>
    </div>
    <div class="plot-card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="plot-card-background-image" style="background-image:  url('https://images.unsplash.com/photo-1548400659-500be8d0279a?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');">
      </div>
      <p><i class="fas fa-map-pin"></i> Muchute City Farm</p>
    </div>
    <div class="plot-card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="plot-card-background-image" style="background-image:  url('https://images.unsplash.com/photo-1545165311-508ed0c91361?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
      </div>
      <p><i class="fas fa-map-pin"></i> Victoria City Farm</p>
    </div>
    <div class="plot-card col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="plot-card-background-image" style="background-image:  url('https://images.unsplash.com/photo-1548400659-500be8d0279a?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');">
      </div>
      <p><i class="fas fa-map-pin"></i> Haggerston City Farm</p>
    </div>
  </div>

</div>
