.plot-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  align-items: center;
  border: solid 1px white;
  // justify-content: space-between;
  .plot-card-background-image {
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
  // filter: grayscale(50%);
  p {
    color: #303030;
    font-size: 0.8em;
    margin-top: 10px;
    // background-color: #F8F8F8;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Alatsi', sans-serif;
  }
  &:hover {
    text-decoration: none;
    border: solid 2px red;
    // transition: 0.5s ease;
  }
}
