.plot-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  width: 250px;
  height: 250px;
  // filter: grayscale(50%);
  align-items: center;
  color: white;
  border: solid 1px white;
  h1 {
    font-size: 1.3em;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #F85949;
    padding: 10px;
    letter-spacing: 1px;
    font-family: 'Alatsi', sans-serif;
  }
  p {
    color: #303030;
    font-size: 0.8em;
    background-color: #F8F8F8;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Alatsi', sans-serif;
  }
}
